
    *{
        text-align: center;
        font-size: larger;
        font-weight: 500;
        justify-content: center;
    
}

    
    h1{
        color:rgb(186, 44, 237);
        font-size:x-large;
        font-weight: 900;
    }
    body{
        background-image:radial-gradient(circle,skyblue,white,skyblue);
    }
